.btn.btn-primary:hover {
    background-color:#5282e1!important;
    font-weight:700!important;
    color:white;
  
  }
  
  .btn.btn-primary:focus {
    background-color:#5282e1!important;
    font-weight:700!important;
    color:white;
  }
  
  .btn.btn-primary:active {
    background-color:#5282e1!important;
    font-weight:700!important;
    color:white;
  
  }

  .fa-play:before {
    content: "\f04b";
    font-size: 13px;
  }

  .fa-power-off:before {
    content: "\f011";
    font-size: 13px;
  }

  .fa-sync:before {
    content: "\f021";
    font-size: 13px;
  }

  .fa-eye:before {
    content: "\f06e";
    font-size: 13px;
  }

  .fa-retweet:before {
    content: "\f079";
    font-size: 13px;
  }

  .fa-redo:before {
    content: "\f01e";
    font-size: 13px;
  }

  .fa-search:before {
    content: "\f002";
    font-size: 13px;
  }

  .fa-building:before {
    content: "\f1ad";
    font-size: 13px;
  }
