<nb-card>
  <nb-card-header>List Model</nb-card-header>
  <nb-card-body>
    <toaster-container></toaster-container>
    <label   > <h5>Total Count: {{total}}</h5></label>
    <hr style="border: 0px;">
    <div class="row" style="padding-left: 10px;">
      <div style="padding: 2px;">
        <button *ngIf="!role.getmenurole(614)" class="btn btn-sm btn-success" (click)='Addmodel()'>Add</button>
      </div>
    </div>
    <hr style="border: 0px;">
    <table class="table table-hover table-striped">
      <tr style="background-color :  #01a7ee;color:white;font-size: medium;">
        <th *ngIf="!role.getmenurole(615)">Action</th>
        <th *ngIf="role.getroleid()>777">ISP Name</th>
        <th *ngIf="role.getroleid()>=775">Circle</th>
        <th *ngIf="role.getroleid()>=775">Reseller Name</th>
        <th>Make Name</th>
        <th>Type</th>
        <th>Model Name</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let item of data">
        <td *ngIf="!role.getmenurole(615)"><a (click)="Editmodel(item);"><i class="nb-edit"></i>Edit</a></td>
        <td *ngIf="role.getroleid()>777">{{item.busname}}</td>
        <td *ngIf="role.getroleid()>=775">{{item.groupname}}</td>
        <td *ngIf="role.getroleid()>=775">{{item.company}}</td>
        <td>{{item.make_name}}</td>
        <td>{{item.type_name}}</td>
        <td>{{item.model_name}}</td>
        <td>{{item.status==1 ? 'Active': 'Deactive'}}</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>