<nb-card>
  <nb-card-header>
    SMS Templates
  </nb-card-header>
  <nb-card-body>
    <toaster-container [toasterconfig]></toaster-container>
    <div class="row">
      <div class="col-md-12">
        <label class="left">
          <h5>Total Count : {{count}}</h5>
        </label>
        <!-- <i (click)="download()" class="green right fas fa-file-excel fa-2x" aria-hidden="true"></i> -->
      </div>
    </div>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (createConfirm)="addClient($event)" (editConfirm)="editConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>