<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="activeModal.close(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="SubsStatusForm" class="form-horizontal" (ngSubmit)="subsupdate();">
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-sm-12">
        <label>Reason <span style="color:red;">*</span></label>
        <input type="text" formControlName="reason" placeholder="Reason"
					[ngClass]="{'form-control':true,'form-control-danger':SubsStatusForm.controls.reason.invalid&&submit}" 
         >
				<small *ngIf="SubsStatusForm.controls.reason.invalid&&submit" class="form-text error">Reason is
					Required!</small>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-md btn-success">Update</button>
  </div>
</form>