<div class="modal-header">
   <span>{{ modalHeader }}</span>
   <!-- <toaster-container [toasterconfig]="config"> </toaster-container> -->
   <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
<form [formGroup]="ScheduleChangeForm" (ngSubmit)="schedulesubmit()">
   <div class="modal-body">
      <div class="form-group row">
         <div class="col-sm-12">
            <label>Date & Time <span style="color: red;">*</span></label>
            <input type="datetime-local" formControlName="sched_time" placeholder="Date & Time"
               [ngClass]="{'form-control' : true,'form-control-danger':ScheduleChangeForm.controls.sched_time.invalid&&submit}" />
            <small *ngIf="ScheduleChangeForm.controls.sched_time.invalid&&submit" class="form-text error">Schedule Date & Time
               is required! </small>
         </div>
      </div>
   </div>
   <div class="modal-footer" >
      <button type="submit"  class="btn btn-md btn-primary">Update</button>
   </div>
</form>