<div class="modal-header">
  <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row">
  <div class="col-sm-12">
    <i (click)="download()" class="green right fas fa-file-excel fa-2x" aria-hidden="true"></i>
  </div>
</div>
<div class="table-wrapper">
  <table class="table table-hover table-striped">
    <tr style="background-color :  #01a7ee;color:white;font-size: medium;">
      <!-- <th>Service Name</th> -->
      <th>Nas Name</th>
      <th>Nas IP</th>
    </tr>
    <tr *ngFor="let item of nascount">
      <!-- <td>{{item.srvname}}</td> -->
      <td>{{item.shortname}}</td>
      <td>{{item.nasname}}</td>
    </tr>
   </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-md btn-success " style="margin:auto;" (click)="closeModal()">OK</button>
</div>