.ngb-tabs > ul.li.active > a,
        .ngb-tabs > ul.li.active > a:hover,
        .ngb-tabs > ul.li.active > a:focus {
          color: #555555;
          cursor: default;
          background-color: #ffffff;
          border: 1px solid #dddddd;
          border-bottom-color: transparent;
          } 