<nb-card>
  <ngx-loading [show]="loading"
    [config]="{animationType: ngxLoadingAnimationTypes.wanderingCubes, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
  </ngx-loading>
  <nb-card-header> List Online Payment<a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;
    background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer; padding-right: 3px;color:white;" (click)="search=!search;"><i class="fa fa-search"></i></a>
    <a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer ;padding-right: 3px;color:white;"
      (click)="refresh()"><i class="fa fa-sync"></i></a>
  </nb-card-header>
  <nb-card-body>
    <toaster-container></toaster-container>
    <hr style="border: 0px;">
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-sm-2" *ngIf="role.getroleid()>777">
          <label>ISP Name</label>
          <auto-completen [(ngModel)]="bus_name" addclass="form-control" optValues="busname"
            (changed)="showProfileReseller();changeclear(1);" placeholder='Select Business' id="bus_name" [item]="bus">
          </auto-completen>
        </div>
        <div class="col-sm-2" *ngIf="(role.getroleid()>=775) || (role.getroleid() > 444)">
          <label>Reseller Type</label>
          <auto-completen [(ngModel)]="resel_type" addclass="form-control"
            (changed)="showResellerName();changeclear(2);" optValues="menu_name" placeholder='Select Reseller Type'
            optId="role" [item]="profile">
          </auto-completen>
          <small style="color: blueviolet;">Select Profile</small>
        </div>
        <div class="col-sm-2" *ngIf="(role.getroleid()>=775) || (role.getroleid() > 444)">
          <label>Reseller Name</label>
          <auto-completen [(ngModel)]="res_name" addclass="form-control" optValues="company" (changed)="changeclear(3)"
            placeholder='Select Reseller' (keyUp)="showResellerName($event)" id="res_name" [item]="res1">
          </auto-completen>
        </div>
        <!-- <div class="col-sm-2">
          <label>Order ID</label>
          <input type="text" [(ngModel)]="order_id" class="form-control" (change)="changeclear(4);"
            placeholder="Order ID">
        </div>
        <div class="col-sm-2">
          <label>Transaction ID</label>
          <input type="number" [(ngModel)]="txnid" class="form-control" placeholder="Transaction ID">
        </div> -->
        <div class="col-sm-2">
          <label>Order ID</label>
          <!-- <input type="text" [(ngModel)]="order_id" (change)="changeclear(4);" class="form-control" placeholder="Order ID"> -->
          <auto-completen [(ngModel)]="order_id" addclass="form-control" optValues="order_id" (changed)="changeclear(4);"
          placeholder='Select OrderId' (keyUp)="showOrderId($event)" optId="opid" [item]="order">
        </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Transaction ID</label>
          <!-- <input type="number" [(ngModel)]="txnid" class="form-control" placeholder="Transaction ID"> -->
          <auto-completen [(ngModel)]="txnid" addclass="form-control" optValues="txnid" 
          placeholder='Select Transaction ID' (keyUp)="showTransId($event)" optId="opid" [item]="trans">
        </auto-completen>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-2">
          <label>Start Date</label>
          <input type="text" [nbDatepicker]="from_date_layout" [(ngModel)]="cdate" class="form-control"
            placeholder="Select Date" />
          <nb-datepicker #from_date_layout></nb-datepicker>
        </div> -->
        <!-- <div class="col-sm-2">
          <label>Start Date</label>
          <input type="text" class="form-control" [owlDateTime]="renstart_date" [owlDateTimeTrigger]="renstart_date"
            [(ngModel)]="cdate" placeholder="Select Start Date">
          <owl-date-time [pickerType]="'calendar'" #renstart_date></owl-date-time>
        </div>
        <div class="col-sm-2">
          <label>End Date</label>
          <input type="text" class="form-control" [owlDateTime]="renend_date" [owlDateTimeTrigger]="renend_date"
            [(ngModel)]="end_date" placeholder="Select End Date">
          <owl-date-time [pickerType]="'calendar'" #renend_date></owl-date-time>
        </div> -->

        <div class="col-sm-2">
          <label>Start Date</label>
          <input type="date" pattern="Start Date" [(ngModel)]="cdate" class="form-control">
        </div>
        <div class="col-sm-2">
          <label>End Date</label>
          <input type="date" placeholder="End Date" [(ngModel)]="end_date" class="form-control">
        </div>
        <div class="col-sm-2">
          <label>status</label>
          <select name="opstatus" class="form-control"  [(ngModel)]="opstatus">
          <option value="" selected >Select Status</option>
          <option value="0">Success</option>
          <option value="1">Initialized</option>
          <option value="4">Canceled(Failure)</option>
          <option value="5">Pending</option>
          </select>
        </div>
      </div>
      <button type="button" class="btn btn-md btn-success middle" (click)='initiallist();'
        style="margin: auto; display: block;">Search</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- <label class="left">
          <h5>Total Deposit : {{count}}</h5>
        </label> -->
        <i (click)="download()" class="green right fas fa-file-excel fa-2x" aria-hidden="true"></i>
      </div>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="success">
        <th style="text-align:left;color:white"><b>Total records : {{count}}</b></th>
      </thead>
      <tbody>
         <tr>
          <td style="text-align:left;font-weight:800;"> TOTAL DEPOSIT AMOUNT :</td>
         </tr>
        <tr>
           <!-- <td style="text-align: left;font-size: x-large;"><i class="fas fa-rupee-sign">&nbsp;{{ totalOnlinePay || 0 }}</i></td> -->
           <td style="text-align: left;font-size: x-large;font-weight: 600;">{{ totalOnlinePay || 0 | currency: 'INR': 'symbol' }}</td>

        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="getlist(page)">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="page=pager.totalPages;getlist();">Last</a>
      </ul>
    </div>
    <div class="table-wrapper">
      <table class="table table-hover table-striped">
        <tr style="background-color :  #01a7ee;color:white;font-size: medium;">
          <th *ngIf="!role.getmenurole(816)">Action</th>
          <th *ngIf="role.getroleid()>=775">ID</th>
          <th *ngIf="role.getroleid()>777">ISP Name</th>
          <th *ngIf="role.getroleid()>444">Reseller Type</th>
          <th *ngIf="role.getroleid()>444">Reseller Business Name</th>
          <th>Name</th>
          <th>Pay Mode</th>
          <th>OrderID</th>
          <th>Transaction ID</th>
          <th>Before Balance Amt</th>
          <th>Deposited Amount</th>
          <th>Amount Initiated</th>
          <th>Payment For</th>
          <th>Status</th>
          <th>DoneBY</th>
          <th>Created Date</th>
          <th>Modified Date</th>
        </tr>
        <tr *ngFor="let item of pagedItems">
          <td *ngIf="!role.getmenurole(816)" style="padding: 1px;" class=" last" data-title="'Action'">
            <div class="dropdown ghost-dropdown" ngbDropdown>
              <button style="width: 70px;border: 2px solid #73a1ff;font-size: 10px;margin: 3px;"
                class="btn btn-primary btn-icon" type="button" ngbDropdownToggle>Action&nbsp;
              </button>
              <ul style="width: 75;margin:3px;z-index: 1;" class="dropdown-menu" ngbDropdownMenu>
                <li *ngIf="!role.getmenurole(816)" class="dropdown-item" title="check" (click)="statuscheck(item.opid,item.gw_id)">
                  <i style="font-size: 20px;" class="fa fa-sync"></i>&nbsp;Check
                </li>
              </ul>
            </div>
          </td>
          <!-- <td *ngIf="item.opstatus==0">
            <a [ngStyle]="{'color' :item.opstatus==0 ? 'green' : 'red' }"
            [ngClass]="{'ion-close-round':item.opstatus!=0? true:false,'ion-checkmark-round': item.opstatus==0 ? true:false  }"></a>
          </td> -->
          <td *ngIf="role.getroleid()>=775">{{item.opid}}</td>
          <td *ngIf="role.getroleid()>777">{{item.busname}}</td>
          <td *ngIf="role.getroleid()>444">{{item.role==333 ? 'Deposit Reseller':item.role==555 ? 'Sub ISP
            Deposit':item.role==551 ? 'Sub Distributor Deposit':'Subscriber'}}</td>
          <td *ngIf="role.getroleid()>444">{{item.company}}</td>
          <td>{{item.user_name}}</td>
          <td style="text-align: center;">{{item.pay_mode}}</td>
          <td>{{item.order_id}}</td>
          <td>{{item.txnid}}</td>
          <td style="text-align: center;"><i class="fas fa-rupee-sign">&nbsp;{{item.before_balance}}</i></td>
          <td style="text-align: center;"><i class="fas fa-rupee-sign">&nbsp;{{item.dep_amt}}</i></td>
          <td style="text-align: center;"><i class="fas fa-rupee-sign">&nbsp;{{item.amt}}</i></td>
          <td>{{item.pay_for==1 ? 'Reseller Topup':item.pay_for==2 ?'Subscriber Renewal':item.pay_for==3?'Subscriber
            Topup':
            item.pay_for==4 ? 'ResellerIP Amount':'Subscriber Schedule'}}</td>
          <td>{{item.opstatus==0 ? 'Success':item.opstatus==1 ? 'Initiate':'Cancel'}}</td>
          <td>{{item.doneby}}</td>
          <td>{{item.cdate | date:'d MMM y h:mm:ss a'}}</td>
          <td>{{item.mdate | date:'d MMM y h:mm:ss a'}}</td>
        </tr>
        <tr>
          <td colspan="14" *ngIf="pagedItems==''">NO DATA FOUND</td>
        </tr>
      </table>
    </div>
    <br>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="getlist(page)">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="page=pager.totalPages;getlist();">Last</a>
      </ul>
    </div>
  </nb-card-body>
</nb-card>