<nb-card>
  <ngx-loading [show]="loading"
    [config]="{animationType: ngxLoadingAnimationTypes.wanderingCubes, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
  </ngx-loading>
  <nb-card-header> List Invoice Acknowledgment
    <a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;
      background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer; padding-right: 3px;color:white;" (click)="search=!search;"><i
        class="fa fa-search"></i></a>
    <a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer ;padding-right: 3px;color:white;"
      (click)="refresh()"><i class="fa fa-sync"></i></a>
  </nb-card-header>
  <nb-card-body>
    <toaster-container></toaster-container>
    <button *ngIf="!role.getmenurole(1022)" class="btn btn-sm btn-success" (click)="invack();">Add</button>
    <hr style="border: 0px;">
    <div class="modal-body" autocomplete="off" [hidden]='!search'>
      <div class="form-group row">
        <div class="col-sm-3" *ngIf="role.getroleid()>777">
          <label>Business Name</label>
          <auto-completen [(ngModel)]="bus_name" addclass="form-control" optValues="busname"
            (keyUp)="showBusName($event)" (changed)="showUser();showgst();changeclear(1);showinvoicenum();"
            placeholder='Select Business' id="bus_name" [item]="bus">
          </auto-completen>
        </div>
        <div class="col-sm-3">
          <label>Profile ID</label>
          <auto-completen [(ngModel)]="cust_name" (keyUp)="showUser($event)"
            (changed)="showgst();showinvoicenum();subs_gst=''" addclass="form-control" optValues="profileid"
            placeholder='Select Subs AccountID' optId="uid" [item]="custname">
          </auto-completen>
        </div>
        <div class="col-sm-3">
          <label>Subscriber GST</label>
          <auto-completen [(ngModel)]="subs_gst" addclass="form-control" optValues="gst" placeholder='Select GST Number'
            optId="gst" (keyUp)="showgst($event)" [item]="gst">
          </auto-completen>
        </div>
        <div class="col-sm-3">
          <label>Invoice NO</label>
          <auto-completen [(ngModel)]="invoice_num" addclass="form-control" optValues="rollid"
            placeholder='Select Invoice-NO' (keyUp)="showinvoicenum($event)" optId="invid" [item]="invnum">
          </auto-completen>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <label>Acknowledge Status</label>
          <select name="ackStatus" [(ngModel)]="ackStatus" class="form-control">
            <option value="" selected>Select Status</option>
            <option value=1>Not Acknowledge</option>
            <option value=2>Acknowledged</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label>Start Date</label>
          <input type="date" class="form-control" [(ngModel)]="start_date" />
        </div>
        <div class="col-sm-3">
          <label>End Date</label>
          <input type="date" class="form-control" [(ngModel)]="end_date" />
        </div>
      </div>
      <button type="button" class="btn btn-md btn-success middle" (click)='page=1;initiallist();'
        style="margin: auto; display: block;">Search</button>
    </div>
    <label>
      <h5>Total Count: {{count}}</h5>
    </label>
    <i (click)="download()" class="green right fas fa-file-excel fa-2x" aria-hidden="true"></i>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="getlist(page)">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="page=pager.totalPages;getlist();">Last</a>
      </ul>
    </div>
    <table class="table table-hover table-striped">
      <tr style="background-color :  #01a7ee;color:white;font-size: medium;">
        <th *ngIf="!role.getmenurole(1023) || !role.getmenurole(1024)">Action</th>
        <th *ngIf="role.getroleid()>777">ISP Name</th>
        <th>Subscriber Company</th>
        <th>Supplier GSTIN</th>
        <th>Recipient GSTIN</th>
        <th>Document NO</th>
        <th>Document Date</th>
        <th>Total Invoice AMT</th>
        <th>HSN Code</th>
        <th>IRN</th>
        <th>IRN Date</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let item of pagedItems">
        <td *ngIf="!role.getmenurole(1023) || !role.getmenurole(1024)" style=" padding: 1px;" class=" last"
          data-title="'Action'">
          <div class="dropdown ghost-dropdown" ngbDropdown>
            <button style="width: 70px;border:2px solid #73a1ff;font-size: 10px;margin:3px;"
              class="btn btn-primary btn-icon" type="button" ngbDropdownToggle>Action&nbsp;
            </button>
            <ul style="width: 106px;margin:3px;z-index: 1;" class="dropdown-menu" ngbDropdownMenu>
              <li *ngIf="!role.getmenurole(1023)" class="dropdown-item" title="View" (click)="view_inv(item.gstinvid)">
                <i style="font-size: 20px;" class="far fa-eye "></i>&nbsp;View
              </li>
              <li *ngIf="!role.getmenurole(1024)" class="dropdown-item" title="Code" (click)="view_code(item.gstinvid)">
                <i style="font-size: 20px;" class="fa fa-qrcode "></i>&nbsp;Code
              </li>
              <li class="dropdown-item" title="Update Einvoice Date" (click)="change_einvoice(item.gstinvid)"><i
                  class="fa fa-exchange-alt"></i>&nbsp;UpdateDate</li>
            </ul>
          </div>
        </td>
        <td *ngIf="role.getroleid()>777">{{item.busname}}</td>
        <td>{{item.cust_company}}</td>
        <td>{{item.supplier_gst_number}}</td>
        <td>{{item.recipient_gst_number}}</td>
        <td>{{item.billno}}</td>
        <td>{{item.ack_date == "0000-00-00 00:00:00" ? '--' : (item.ack_date | date: 'd MMM y') }}</td>
        <td>{{item.total_amount}}</td>
        <td>{{item.hsn || '--'}}</td>
        <td>{{item.irn || '--'}}</td>
        <td>{{item.ack_date == "0000-00-00 00:00:00" ? '--' : (item.ack_date | date: 'd MMM y h:mm:ss a')}}</td>
        <td><a [ngStyle]="{'color': item.gstAck==1? 'red':'green'}"
            [ngClass]="{'ion-close-round':item.gstAck !=2? true:false,'ion-checkmark-round':item.gstAck==2?true:false}"></a>
        </td>
      </tr>
      <!-- <tr>
          <td colspan="8" *ngIf="pagedItems==''">NO DATA FOUND</td>
        </tr> -->
    </table><br>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="getlist(page)">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="page=pager.totalPages;getlist();">Last</a>
      </ul>
    </div>
  </nb-card-body>
</nb-card>