<nb-card>
  <ngx-loading [show]="loading"
    [config]="{animationType: ngxLoadingAnimationTypes.wanderingCubes, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
  </ngx-loading>
  <nb-card-header> List Reseller<a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;
    background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer; padding-right: 3px;color:white;" (click)="search=!search;"><i class="fa fa-search"></i></a>
    <a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer ;padding-right: 3px;color:white;"
      (click)="refresh()"><i class="fa fa-sync"></i></a>
  </nb-card-header>
  <nb-card-body>
    <toaster-container></toaster-container>
    <button *ngIf="!role.getmenurole(402)"
      class="btn btn-sm btn-success" [routerLink]="['/pages/reseller/add-reseller']">Add</button>
    <i (click)="download()" class="green right fas fa-file-excel fa-2x" aria-hidden="true"></i>
    <hr style="border: 0px;">
    <div class="modal-body" autocomplete="off" [hidden]='!search'>
      <div class="form-group row">
        <div class="col-sm-2" *ngIf="role.getroleid()>777">
          <label>ISP Name</label>
          <auto-completen [(ngModel)]="bus_name" addclass="form-control" optValues="busname" (changed)="showGroupName();showProfileReseller();
            showGroupNas();resmobile();resemail();reslogin();nasipaddr();changeclear(1)" placeholder='Select Business'
            id="bus_name" [item]="bus">
          </auto-completen>
        </div>
        <div class="col-sm-2" *ngIf="role.getroleid()>=775">
          <label>Circle</label>
          <auto-completen [(ngModel)]="group_name" addclass="form-control" optValues="groupname"
            placeholder='Select Circle' (changed)="showGroupNas();changeclear(2);
            resmobile();resemail();reslogin()" optId="groupid" [item]="group1">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Reseller Type</label>
          <auto-completen [(ngModel)]="resel_type" addclass="form-control" (changed)="showResellerName();changeclear(3)"
            optValues="menu_name" placeholder='Select Reseller Type' optId="role" [item]="profile">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Reseller Name</label>
          <auto-completen [(ngModel)]="res_name" addclass="form-control" optValues="company"
            (changed)="resmobile();resemail();reslogin();changeclear(4)" placeholder='Select Reseller'
            (keyUp)="showResellerName($event)" id="res_name" [item]="res1">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Reseller Mobile</label>
          <auto-completen [(ngModel)]="res_mob" addclass="form-control" optValues="mobile"
            (changed)="resemail();reslogin();changeclear(5)" placeholder='Select Mobile NO' (keyUp)="resmobile($event)"
            id="res_mob" [item]="resmob">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Reseller E-mail</label>
          <auto-completen [(ngModel)]="res_mail" addclass="form-control" optValues="email"
            (changed)="resmobile();reslogin();changeclear(6)" placeholder='Select E-mail' (keyUp)="resemail($event)"
            id="res_mail" [item]="resmail">
          </auto-completen>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <label>Reseller LoginID</label>
          <auto-completen [(ngModel)]="res_logid" addclass="form-control" optValues="managername"
            (changed)="resmobile();resemail();changeclear(7)" placeholder='Select LoginnID' (keyUp)="reslogin($event)"
            id="res_logid" [item]="reslogid">
          </auto-completen>
        </div>
        <div class="col-sm-2" *ngIf="role.getroleid()>444">
          <label>Nas Name</label>
          <auto-completen [(ngModel)]="nas_name" addclass="form-control" optValues="shortname" placeholder='Select Nas'
            (changed)="nas_ip=''" id="nasid" (keyUp)="showGroupNas($event)" [item]="nas1">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Nas-IP</label>
          <auto-completen [(ngModel)]="nas_ip" addclass="form-control" optValues="nasname" placeholder='Select Nas'
            id="id" (keyUp)="nasipaddr($event)" [item]="nasip">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>State</label>
          <auto-completen [(ngModel)]="state_id" addclass="form-control" optValues="name" placeholder='Select State'
            id="id" (keyUp)="showState($event)" [item]="state">
          </auto-completen>
        </div>
      </div>
      <button type="button" class="btn btn-md btn-success middle" (click)='page=1;initiallist();'
        style="margin: auto; display: block;">Search</button>
    </div>
    <label *ngIf="role.getroleid()<775">
      <h5>Total Count: {{count}}</h5>
    </label>
    <table class="table table-bordered table-striped" *ngIf="role.getroleid()>=775">
      <thead class="success">
        <th colspan="7" class="black-muted-bg" style="color: white;"><b> Total Resellers : </b>{{count}}</th>
      </thead>
      <tbody>
        <tr>
          <td><b> Sub ISP Bulk
            </b>
          </td>
          <td><b> Sub ISP Deposit
            </b>
          </td>
          <td><b> Bulk Reseller
            </b>
          </td>
          <td><b> Deposit Reseller
            </b>
          </td>
          <td><b> Hotels
            </b>
          </td>
          <td><b> Sub Distributor Bulk
            </b>
          </td>
          <td><b>Sub Distributor Deposit
            </b>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">{{subispbulk}}</td>
          <td style="text-align: center;">{{subispdep}}</td>
          <td style="text-align: center;">{{bulk}}</td>
          <td style="text-align: center;">{{deposit}}</td>
          <td style="text-align: center;">{{hotel}}</td>
          <td style="text-align: center;">{{subdisbulk}}</td>
          <td style="text-align: center;">{{subdisdep}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6">
        <div class="pagination">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
            <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
            <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
              (click)="getlist(page)">{{page}}</a>
            <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
            <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
              (click)="page=pager.totalPages;getlist();">Last</a>
          </ul>
          <select [(ngModel)]="limit" (change)="initiallist()" class="form-control"
            style="height: calc(2rem + 12px);max-width: 10vh;min-width: 74px;border-radius: 5px;">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
    <div class="table-wrapper">
      <table class="table table-hover table-striped">
        <tr style="background-color :  #01a7ee;color:white;font-size: medium;">
          <th>Action</th>
          <th *ngIf="role.getroleid()>=775">ID</th>
          <th *ngIf="role.getroleid()>777">ISP Name</th>
          <th *ngIf="role.getroleid()>775">Circle</th>
          <th *ngIf="role.getroleid()==444||role.getroleid()==333||role.getroleid()==222">Nas Name</th>
          <th>Status</th>
          <th>Login ID</th>
          <th>Balance</th>
          <th>Active Subscribers</th>
          <th>Online Subscribers</th>
          <th>Type</th>
          <th>Business Name</th>
          <th>Primary Nas</th>
          <th>Service Type</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>GST No</th>
          <th>Subscriber Limit</th>
          <th>Prefix</th>
          <th>Registered Date</th>
          <th>State</th>
        </tr>
        <tr *ngFor="let item of pagedItems">
          <td style=" padding: 1px;" class=" last" data-title="'Action'">
            <div class="dropdown ghost-dropdown" ngbDropdown>
              <button style="width: 70px;border: 2px solid #73a1ff;font-size: 10px;margin:3px;"
                class="btn btn-primary btn-icon" type="button" ngbDropdownToggle>Action&nbsp;
              </button>
              <ul style="width: 75px;margin:3px;z-index: 1;" class="dropdown-menu" ngbDropdownMenu>
                <li *ngIf="!role.getmenurole(404)" class="dropdown-item" style="padding-top: 0px;padding-bottom: 2px;"
                  title="View" (click)="View_user(item.id,1)"><i style="font-size: 20px;"
                    class="fa fa-eye "></i>&nbsp;View</li>
                <li class="dropdown-item" title="Logo" style="padding-top: 0px;padding-bottom: 2px;"
                  (click)="view_logo(item.id)"><i style="font-size: 20px;" class="fa fa-bullseye "></i>&nbsp;Logo</li>
                <li *ngIf="!role.getmenurole(403)"  
                  class="dropdown-item" title="Edit" style="padding-top: 0px;padding-bottom: 2px;"
                  (click)="Edit_resel(item.id)"><i style="font-size: 20px;" class="nb-edit"></i>&nbsp;Edit</li>
                <li class="dropdown-item" title="Password" style="padding-top: 0px;padding-bottom: 2px;"
                  (click)="password(item.id)"><i style="font-size: 20px;"
                    class="fa fa-keyboard"></i>&nbsp;Password&nbsp;&nbsp;</li>
                <li class="dropdown-item" title="EditNas" style="padding-top: 0px;padding-bottom: 2px;"
                  (click)="nasedit(item.id,item.isp_id,item.group_id,item.prim_nas_id)" *ngIf="role.getroleid() >= 775">
                  <i style="font-size: 20px;" class="fa fa-random"></i>&nbsp;Edit-Nas&nbsp;&nbsp;</li>
              </ul>
            </div>
          </td>
          <td *ngIf="role.getroleid()>=775">{{item.id}}</td>
          <td *ngIf="role.getroleid()>777">{{item.busname}}</td>
          <td *ngIf="role.getroleid()>775">{{item.groupname}}</td>
          <td *ngIf="role.getroleid()==444||role.getroleid()==333||role.getroleid()==222">{{item.nasname}}</td>
          <td style="text-align: center;"> <a [ngStyle]="{'color' :item.status==1 ? 'green' : 'red' }"
              [ngClass]="{'ion-close-round':item.status!=1? true:false,'ion-checkmark-round': item.status==1 ? true:false  }">
            </a> </td>
          <td style="text-transform: none !important;text-align: center;" (click)="View_user(item.id,1)"><a
              [ngStyle]="{'color' :item.status==1 ? 'green' : 'red' }">{{item.managername}}</a></td>
          <!-- <td *ngIf="item.menu_name=='Bulk Reseller'">{{'--'}}</td>
          <td *ngIf="item.menu_name!='Bulk Reseller' " style="text-align: center;font-weight: 900;">
            <b>&nbsp;{{item.balance_amt | currency:'INR':'symbol'}}</b></td> -->
          <td  style="text-align: center;font-weight: 900;">
              <b>&nbsp;{{item.balance_amt | currency:'INR':'symbol'}}</b></td>
          <td style="text-align: center;font-weight: 900;">{{item.ucount || '--'}}</td>
          <td style="text-align: center;font-weight: 900;">{{item.oncount || '--'}}</td>
          <td>{{item.menu_name}}</td>
          <td style="text-align: center;">{{item.company}}</td>
          <td>{{item.nasip || '--'}}</td>
          <td>{{item.service_name}}</td>
          <td>{{item.mobile}}</td>
          <td style="text-transform: none !important;">{{item.email}}</td>
          <td>{{item.gst_no}}</td>
          <td style="text-align: center;">{{item.sub_limit==0 ? 'Unlimited':'No Limit'}}</td>
          <td>{{item.prefix_on == true? 'Enable':'Disable'}}</td>
          <td>{{item.c_date == '0000-00-00 00:00:00'? '--' : item.c_date | date: 'd MMM yy hh:mm:ss a'}}</td>
          <td>{{item.stname || '--'}}</td>
        </tr>
        <tr>
          <td colspan="15" *ngIf="pagedItems==''">NO DATA FOUND</td>
        </tr>
      </table>
    </div>
    <br>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="getlist(page)">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="page=pager.totalPages;getlist();">Last</a>
      </ul>
    </div>
    <div class="modal-footer">
    </div>
  </nb-card-body>
</nb-card>