.table-wrapper{
    overflow-y: scroll;
    height: auto;
  }
  
  .table-wrapper th{
      position: sticky;
      top: -1px;
  }
  
  
  .table-wrapper{
    background: white;
  }
  
  .table-wrapper table{
    border-collapse: collapse;
    width: 100%;
  
  }
  
  .table-wrapper th{
      background:#01a7ee;
  }
  
  .table-wrapper td,th{
    padding: 10px;
    text-align: center;
  }
  
  .table td {
    white-space: nowrap;
  }
  .table th {
    white-space: nowrap;
      z-index:998;
  }

  .btn.btn-primary:hover {
    background-color:#73a1ff!important;
    font-weight:700!important;
    color:white;
  
  }
  
  .btn.btn-primary:focus {
    background-color:#73a1ff!important;
    font-weight:700!important;
    color:white;
  }
  
  .btn.btn-primary:active {
    background-color:#73a1ff!important;
    font-weight:700!important;
    color:white;
  
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  