<!-- <div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h4 class="header-title mt-0">List Service Indent</h4>

    </div>
 


    <div class="card-body">
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead style="background-color:rgb(189, 204, 186);">
              <tr>
                <th>Action</th>
                <th>Expense Type</th>
                <th>Customer</th>
                <th>Status</th>
                
              </tr>
            </thead>
            <tbody >
              <tr >
                <td class="overflow-hidden">
                  <div ngbDropdown container="body">
                    <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Action
                      <i [attr.data-feather]="'chevron-down'" appFeatherIcon></i>
                    </button>

                    <div ngbDropdownMenu>
                      <button ngbDropdownItem>Edit</button>
                      <button ngbDropdownItem>Delete</button>
                    </div>
                  </div>
                </td>
                <td>hii</td>
                <td>lll</td>
                <td>jjjj</td>
               

              </tr>

            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>


  -->