<ngx-loading [show]="loading"
    [config]="{animationType: ngxLoadingAnimationTypes.wanderingCubes, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
  </ngx-loading>

<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
     <p> Are you sure you want to Update the Status</p>
    </div>
     <div class="modal-footer">
  <button type="submit" class="btn btn-md btn-primary" (click)='refreshSchedule()' style="margin: auto; display: block;">OK</button>
</div>



