<div class="modal-header">
   <span>{{ modalHeader }}</span>
   <toaster-container [toasterconfig]="config"> </toaster-container>
   <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
<form [formGroup]="AddNasForm" (ngSubmit)="addUsername()">
   <div class="modal-body">
      <div class="form-group row">
         <div class="col-sm-12">
            <label>Reseller Login ID</label>
            <input type="text" formControlName="username" placeholder="User Name"
               [ngClass]="{'form-control':true,'form-control-danger':AddNasForm.controls.invalid&&submit}">
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <button type="submit" class="btn btn-md btn-primary">Update</button>
   </div>
</form>