.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 1px;
  right: 1px;
  bottom: 2px;
  background-color: #2f438c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #945CF4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2C2A67;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2C2A67;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
table, th, td,thead {
   border-top:none;
    border-bottom:none;
}