.table-wrapper{
    overflow-y: scroll;
    height: 1200px;
  }
  
  .table-wrapper th{
      position: sticky;
      top: -1px;
  }
  
  
  .table-wrapper{
    background: white;
  }
  
  table{
    border-collapse: collapse;
    width: 100%;
  
  }
  // .table {
  //   border-collapse: separate;
  // }
  
  th{
      background:#01a7eee5;
      text-align: center;
   }
  
  td,th{
    padding: 10px;
    text-align: center;
  }
  
  .table td {
    white-space: nowrap;
   
  }
  .table th {
    white-space: nowrap;
      z-index:998;
  }

  .ion-icon {
    font-size: 17px;
  }
  