<div class="modal-header">
   <span>{{ modalHeader }}</span>
   <!-- <toaster-container [toasterconfig]="config"> </toaster-container> -->
   <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
<form [formGroup]="VoicePassForm" (ngSubmit)="Voicepasssubmit()">
   <div class="modal-body">
      <div class="form-group row">
         <div class="col-sm-12">
            <label>Password <span style="color: red;">*</span></label>
            <input type="password" formControlName="password" placeholder="Password"
               [ngClass]="{'form-control' : true,'form-control-danger':VoicePassForm.controls.password.invalid&&submit}" />
            <small *ngIf="VoicePassForm.hasError('required','password')&&submit" class="form-text error">Password
               is required! </small>
         </div>
      </div>
   </div>
   <div class="modal-footer" >
      <button type="submit"  class="btn btn-md btn-primary">Update</button>
   </div>
</form>