//  .custom_class{
//  height:1px;
//  }

// .flipcard-body[_ngcontent-c21] .front-container[_ngcontent-c21] .flip-button[_ngcontent-c21], .flipcard-body[_ngcontent-c21] .back-container[_ngcontent-c21] .flip-button[_ngcontent-c21] {
//     cursor: pointer;
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     opacity: 1;
//     transition: opacity 0s 0.15s;
//     top: 0;
//     color:black;
// }  
// .nb-arrow-dropleft::before {
//     padding-top: 15px; 
//       top: 0;
//       position: fixed;
//       color:black;
//   /*        color: black;
//   */    font-weight: 900;
//   }


.text_size {
    font-size: 10px;
    padding: 6px;
    white-space: normal;
    text-align: justify;
}

.text_sizes {
    font-size: 10px;
    padding: 6px;
    white-space: normal;
    text-align: justify;
}

.splitterm {
    font-size: 8px;
}

//  <style type="text/css">
//     table { page-break-inside:auto }
//     tr    { page-break-inside:avoid; page-break-after:auto }
//     thead { display:table-header-group }
//     tfoot { display:table-footer-group }
// </style>

.page-break {
    break-after: page;
}

.front {
    height: 100%;
    display: block;
    text-align: -webkit-center;

    overflow: hidden;
}

.back {
    height: 100%;
    display: block;
    text-align: -webkit-center;

    overflow: hidden;
}