.table-wrapper{
    overflow-y: scroll;
    height: auto;
  }
  
  .table-wrapper th{
      position: sticky;
      top: -1px;
  }
  
  
  .table-wrapper{
    background: white;
  }
  
  table{
    border-collapse: collapse;
    width: 100%;
  
  }
  
  th{
      background:#01a7ee;
  }
  
  td,th{
    padding: 10px;
    text-align: center;
  }
  
  .table td {
    white-space: nowrap;
  }
  .table th {
    white-space: nowrap;
      z-index:998;
  }

  .ion-close-round:before {
    content: "";
    font-size: 13px;
  }

  .fa-exchange-alt:before {
    content: "\f362";
    font-size: 13px;
  }

 