@import '../../../@theme/styles/themes';
@import '~@nebular/bootstrap/styles/hero-buttons';

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    height: 6rem;
    overflow: visible;

    $bevel: btn-hero-bevel(nb-theme(card-bg));
    $shadow: nb-theme(btn-hero-shadow);
    box-shadow: $bevel, $shadow;

    .icon-container {
      height: 100%;
      padding: 0.625rem;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5.75rem;
      height: 4.75rem;
      font-size: 3.75rem;
      border-radius: nb-theme(card-border-radius);
      transition: width 0.4s ease;
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      color: nb-theme(color-white);

      &.primary {
        @include btn-hero-primary-gradient();
        @include btn-hero-primary-bevel-glow-shadow();
            background-image: linear-gradient(to right, #b57fff, #8a7fff);
            box-shadow: 0 0 0 0 #896ddb, 0 0 0 0 #9f7fff;
      }
      &.success {
        @include btn-hero-success-gradient();
        @include btn-hero-success-bevel-glow-shadow();
       background-image: linear-gradient(to right, #40dcb2, #40dc7e);
       box-shadow: 0 0 0 0 #37bd83, 0 0 0 0 #40dc98;
      }
      &.info {
        @include btn-hero-info-gradient();
        @include btn-hero-info-bevel-glow-shadow();
          background-image: linear-gradient(to right, #4cc4ff, #4ca6ff);
          box-shadow: 0 0 0 0 #419cdb, 0 0 0 0 #4cb5ff;
      }
      &.warning {
        @include btn-hero-warning-gradient();
        @include btn-hero-warning-bevel-glow-shadow();
        background-image: linear-gradient(to right, #f700ffe1, #f700ffe1);
        box-shadow: 0 0 0 0 #f700ffe1, 0 0 0 0 #f700ffe1;
      }
      &.danger {
        @include btn-hero-danger-gradient();
        @include btn-hero-danger-bevel-glow-shadow();
        background-image: linear-gradient(to right, #ff9900, #ff9900);
        box-shadow: 0 0 0 0 #ff9900, 0 0 0 0 #ff9900;
      }
      &.secondary {
        @include btn-hero-secondary-bg();
        @include btn-hero-secondary-bevel-glow-shadow();
        background-image: linear-gradient(to right, #df4d4d, #df4d4d);
        box-shadow: 0 0 0 0 #df4d4d, 0 0 0 0 #df4d4d;
      }
       &.disconnect {
        @include btn-hero-secondary-bg();
        @include btn-hero-secondary-bevel-glow-shadow();
        background-image: linear-gradient(to right, #dfdc27, #dfdc27);
        box-shadow: 0 0 0 0 #dfdc27, 0 0 0 0 #dfdc27;
      }
      &.tag {
        @include btn-hero-secondary-bg();
        @include btn-hero-secondary-bevel-glow-shadow();
        background-image: linear-gradient(to right, #7b878d, #7b878d);
        box-shadow: 0 0 0 0 #7b878d, 0 0 0 0 #7b878d;
      }
      &.offline {
        @include btn-hero-secondary-bg();
        @include btn-hero-secondary-bevel-glow-shadow();
        background-image: linear-gradient(to right, #e61313, #e61313);
        box-shadow: 0 0 0 0 #e61313, 0 0 0 0 #e61313;
      }

     
    }

    &:hover {
      background: lighten(nb-theme(card-bg), 5%);

      .icon {
        &.primary {
          background-image: btn-hero-primary-light-gradient();
          background-image: linear-gradient(to right, #b57fff, #8a7fff);
          box-shadow: 0 0 0 0 #896ddb, 0 0 0 0 #9f7fff;
        }
        &.success {
          background-image: btn-hero-success-light-gradient();
           background-image: linear-gradient(to right, #40dcb2, #40dc7e);
          box-shadow: 0 0 0 0 #37bd83, 0 0 0 0 #40dc98;
        }
        &.info {
          background-image: btn-hero-info-light-gradient();
           background-image: linear-gradient(to right, #4cc4ff, #4ca6ff);
          box-shadow: 0 0 0 0 #419cdb, 0 0 0 0 #4cb5ff;
        }
        &.warning {
          background-image: btn-hero-warning-light-gradient();
          background-image: linear-gradient(to right, #f700ffe1, #f700ffe1);
          box-shadow: 0 0 0 0 #f700ffe1, 0 0 0 0 #f700ffe1;
        }
        &.danger {
          background-image: btn-hero-danger-light-gradient();
          background-image: linear-gradient(to right, #ff9900, #ff9900);
          box-shadow: 0 0 0 0 #ff9900, 0 0 0 0 #ff9900;
        }
        &.secondary {
          background-image: btn-hero-secondary-light-gradient();
          background-image: linear-gradient(to right, #df4d4d, #df4d4d);
          box-shadow: 0 0 0 0 #df4d4d, 0 0 0 0 #df4d4d;
        }
        &.tag {
          @include btn-hero-secondary-bg();
          @include btn-hero-secondary-bevel-glow-shadow();
          background-image: linear-gradient(to right, #7b878d, #7b878d);
          box-shadow: 0 0 0 0 #7b878d, 0 0 0 0 #7b878d;
        }
        &.offline {
          @include btn-hero-secondary-bg();
          @include btn-hero-secondary-bevel-glow-shadow();
          background-image: linear-gradient(to right, #e61313, #e61313);
          box-shadow: 0 0 0 0 #e61313, 0 0 0 0 #e61313;
        }
  
      }
    }

    &.off {
      color: nb-theme(card-fg);

      .icon {
        color: nb-theme(card-fg);

        &.primary, &.success, &.info, &.warning, &.danger {
          box-shadow: none;
          background-image: linear-gradient(to right, transparent, transparent);
        }

        &.secondary {
          background: transparent;
        }
      }

      .title {
        color: nb-theme(card-fg);
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      border-left: 1px solid transparent;
    }

    .title {
      // font-family: nb-theme(font-secondary);
      font-size: 1rem;
      font-weight: 500;
      // color: nb-theme(card-fg-heading);
      color: #737272fa;
    }

    .value {
      font-weight: 900;
      font-size: 25px;
      text-align: center;
    }

    .status {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
      text-transform: uppercase;
      color: nb-theme(card-fg);
    }
  }

  @include nb-for-theme(cosmic) {
    nb-card {
      &.off .icon-container {
        @include nb-ltr(border-right, 1px solid nb-theme(separator));
        @include nb-rtl(border-left, 1px solid nb-theme(separator));
      }

      .icon-container {
        padding: 0;
      }

      .details {
        @include nb-ltr(padding-left, 1.25rem);
        @include nb-rtl(padding-right, 1.25rem);
      }

      .icon {
        width: 7rem;
        height: 100%;
        font-size: 4.5rem;
        @include nb-ltr(border-radius, nb-theme(card-border-radius) 0 0 nb-theme(card-border-radius));
        @include nb-rtl(border-radius, 0 nb-theme(card-border-radius) nb-theme(card-border-radius) 0);
      }

      .title {
        font-weight: nb-theme(font-weight-bolder);
      }

      .status {
        font-weight: nb-theme(font-weight-light);
      }
    }
  }

  @include nb-for-theme(corporate) {
    nb-card {
      .icon-container {
        height: auto;
      }
    }
  }
}
