<nb-card>
  <nb-card-header> List Voice Number
    <a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;
    background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer; padding-right: 3px;color:white;" (click)="search=!search;"><i
        class="fa fa-search"></i></a>
    <a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer ;padding-right: 3px;color:white;"
      (click)="refresh()"><i class="fa fa-sync"></i></a>
  </nb-card-header>
  <nb-card-body>
    <toaster-container></toaster-container>
    <button *ngIf="!role.getmenurole(1048)" class="btn btn-sm btn-success" (click)="Add_voice();" >Add</button>
    <hr style="border: 0px;">
    <div class="modal-body" autocomplete="off" [hidden]='!search'>
      <div class="form-group row">
        <div class="col-sm-2" *ngIf="role.getroleid()>777">
          <label>Business Name</label>
          <auto-completen [(ngModel)]="bus_name" addclass="form-control" optValues="busname"
            (changed)="showResellerName();showUser()" placeholder='Select Business' id="bus_name" [item]="bus">
          </auto-completen>
        </div>
        <div class="col-sm-2" *ngIf="role.getroleid()>=775">
          <label>Reseller</label>
          <auto-completen [(ngModel)]="res_name" addclass="form-control" optValues="company" (changed)="showUser()"
            (keyUp)="showResellerName($event)" placeholder='Select Reseller' id="mid" [item]="res1">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Subscriber ID</label>
          <auto-completen [(ngModel)]="cust_name" (keyUp)="showUser($event)"
            addclass="form-control" optValues="username" placeholder='Select Subs AccountID' optId="uid"
            [item]="custname">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Status</label>
          <select [(ngModel)]="status" class="form-control">
            <option value="" selected>Select Status</option>
            <option value="0">Not Assigned</option>
            <option value="1">Assigned</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label>Voice No</label>
          <input type="number" [(ngModel)]="voice_num" placeholder="Voice Number" class="form-control">
        </div>
      </div>
      <button type="button" class="btn btn-md btn-success middle" (click)='page=1;initiallist();'
        style="margin: auto; display: block;">Search</button>
    </div>
    <label>
      <h5>Total Count: {{count}}</h5>
    </label>
    <i class="green right fas fa-file-excel fa-2x" (click)="download()" aria-hidden="true"></i>
    <div class="row">
      <div class="col-md-6">
        <div class="pagination">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
            <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
            <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
              (click)="getlist(page)">{{page}}</a>
            <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
            <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
              (click)="page=pager.totalPages;getlist();">Last</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="table-wrapper">
      <table class="table table-hover table-striped">
        <tr style="background-color :  #01a7ee;color:white;font-size: medium;">
          <th>Action</th>
          <th *ngIf="role.getroleid()>777">ISP Name</th>
          <th>Subscriber-ID</th>
          <th>Voice Number</th>
          <th>Current Password</th>
          <th>Last Password</th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let item of pagedItems">
          <td *ngIf="!role.getmenurole(1049)"
            style=" padding: 1px;" class=" last" data-title="'Action'">
            <div class="dropdown ghost-dropdown" ngbDropdown>
              <button style="width: 70px;border: 2px solid #73a1ff;font-size: 10px;margin:3px;"
                class="btn btn-primary btn-icon" type="button" ngbDropdownToggle>Action&nbsp;
              </button>
              <ul style="width: 75px;margin:3px;z-index: 1;" class="dropdown-menu" ngbDropdownMenu>
                <li *ngIf="!role.getmenurole(1049)" style="padding-top: 0px;padding-bottom: 2px;" class="dropdown-item" title="Edit" (click)="Edit_voice(item)">
                  <i style="font-size: 20px;"class="nb-edit"></i>&nbsp;Edit</li>
                <li *ngIf="item.vflag==0" style="padding-top: 0px;padding-bottom: 2px;" class="dropdown-item" title="ChangePassword"
                  (click)="assigne(item)"><i style="font-size: 20px;" class="ion-checkmark-round"></i>&nbsp;Assigne
                </li>
                <li *ngIf="item.vflag==1" style="padding-top: 0px;padding-bottom: 2px;" class="dropdown-item" title="CloseSession"
                  (click)="unassigne(item)"><i style="font-size: 20px;" class="ion-close-round"></i>&nbsp;Unassigne
                </li>
                <li style="padding-top: 0px;padding-bottom: 2px;" class="dropdown-item" title="Log-Off"
                  (click)="changepswd(item)"><i style="font-size: 20px;" class="fa fa-keyboard"></i>&nbsp;Password
                </li>
              </ul>
            </div>
          </td>
          <td *ngIf="role.getroleid()>777">{{item.busname}}</td>
          <td>{{item.cust_profile_id == null ? '--':item.cust_profile_id}}</td>
          <td>{{item.vnumber}}</td>
          <td style="text-transform: none !important;">{{item.lpwd==null ? '--':item.lpwd}}</td>
          <td style="text-transform: none !important;">{{item.lppwd==null ? '--':item.lppwd}}</td>
          <td>{{item.vflag==1 ? 'Assigned' : 'Not Assigned'}}</td>
        </tr>
        <tr>
          <td colspan="6" *ngIf="pagedItems==''">NO DATA FOUND</td>
        </tr>
      </table>
    </div>
    <br>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="getlist(page)">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="page=pager.totalPages;getlist();">Last</a>
      </ul>
    </div>
  </nb-card-body>
</nb-card>