<nb-card>
  <nb-card-header>List User Profile
    <a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;
    background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer; padding-right: 3px;color:white;" (click)="search=!search;"><i
        class="fa fa-search"></i></a>
    <a type="button" class="btn btn-primary btn-sm btn-floating "
      style="float: right; margin: 5px;background-color: #01a7ee;padding-top: 5px;padding-bottom: 5px;padding-left: 3px; cursor: pointer ;padding-right: 3px;color:white;"
      (click)="refresh()"><i class="fa fa-sync"></i></a>
  </nb-card-header>
  <nb-card-body>
    <toaster-container></toaster-container>
    <div class="modal-body" [hidden]="!search">
      <div class="form-group row">
        <div class="col-sm-2" *ngIf="role.getroleid()>777">
          <label>ISP Name</label>
          <auto-completen [(ngModel)]="bus_name" addclass="form-control" optValues="busname"
            (changed)="profile();department();showloginid();changeclear(1)" placeholder='Select Business' id="bus_name" [item]="bus">
          </auto-completen>
        </div>
        <div class="col-sm-2" *ngIf="role.getroleid()>=775">
          <label>Profile Name</label>
          <auto-completen (changed)="showloginid();changeclear(2)" [(ngModel)]="pro_name" addclass="form-control" optValues="menu_name"
            placeholder='Select Profile' optId="role" [item]="pro">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Department</label>
          <auto-completen [(ngModel)]="dept_name" (changed)="showloginid();login_id=''" addclass="form-control" optValues="department_name"
            placeholder='Select Department' optId="ispdepid" [item]="deptdata">
          </auto-completen>
        </div>
        <div class="col-sm-2">
          <label>Login-ID</label>
          <auto-completen [(ngModel)]="login_id" addclass="form-control" optValues="managername"
            placeholder='Select Login-ID' id="login_id" (keyUp)="showloginid($event)" [item]="userlogid">
          </auto-completen>
        </div>
      </div>
      <button type="button" class="btn btn-md btn-success middle" (click)='page=1;initiallist();'
        style="margin: auto; display: block;">Search</button>
    </div>
    <label>
      <h5>Total Count: {{tot}}</h5>
    </label>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="getlist(page)">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="page=pager.totalPages;getlist();">Last</a>
      </ul>
      <select [(ngModel)]="limit" (change)="initiallist()" class="form-control"
        style="height: calc(2rem + 12px);max-width: 10vh;min-width: 74px;border-radius: 5px;">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="75">75</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="table-wrapper">
      <table class="table table-hover table-striped">
        <tr style="background-color :  #01a7ee;color:white;font-size: medium;">
          <th *ngIf="!role.getmenurole(73)">Action</th>
          <th *ngIf="role.getroleid()>777">ID</th>
          <th>ISP Name</th>
          <th *ngIf="role.getroleid()>444">Profile ID</th>
          <th>Reseller Name</th>
          <th>Profile Name</th>
          <th>Department Name</th>
        </tr>
        <tr *ngFor="let item of pagedItems">
          <td *ngIf="!role.getmenurole(73)"><a class="lightedit" style="cursor: pointer;border: 2px solid #01a7ee;padding: 3px 8px 3px 5px;
            border-radius: 10px;font-size:11px;" (click)='edit(item);'><i class="nb-edit"></i>Edit</a></td>
          <td *ngIf="role.getroleid()>777">{{item.id}}</td>
          <td>{{item.busname}}</td>
          <td style="text-transform: none !important;" *ngIf="role.getroleid()>444">{{item.managername}}</td>
          <td>{{item.username}}</td>
          <td>{{item.menu_name}}</td>
          <td>{{item.department_name==null ? '--' : item.department_name}}</td>
        </tr>
        <tr>
          <td colspan="7" *ngIf="pagedItems==''">NO DATA FOUND</td>
        </tr>
      </table>
    </div>
    <br>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="getlist(page)">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="page=pager.totalPages;getlist();">Last</a>
      </ul>
    </div>
  </nb-card-body>
</nb-card>